{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 200,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "htmlWhitespaceSensitivity": "ignore",
    "embeddedLanguageFormatting": "auto",
    "vueIndentScriptAndStyle": true
}
