version: '3.8'
services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - /app/node_modules
            - .:/app
        env_file:
            - .env
        ports:
            - '5173:5173'
