@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "Circle Of Love";
  src: url("../fonts/circle-of-love.ttf");
}

@font-face {
  font-family: "Bubblegum Sans";
  src: url("../fonts/bubblegum-sans.ttf");
}

@font-face {
  font-family: "Shaky Hand";
  src: url("../fonts/shaky-hand.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border p-0 m-0;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply  relative text-body-base  bg-white text-gray-800;
  }

  h1 {
    @apply text-heading-01;
  }
  h2 {
    @apply text-heading-02;
  }
  h3 {
    @apply text-heading-03;
  }
  h4 {
    @apply text-heading-04;
  }
  h5 {
    @apply text-heading-05;
  }
  p {
    @apply text-body-base text-gray font-[400] text-justify;
  }
}


@layer components {
  /* Remove background autofill input*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }

  /* Customize input number */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }

  /* Customize scrollbar */
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }
  ::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 10px;
    background: white;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-gray-300;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
  }

  /* FOR SVG ICON set color dinamically */
  .icon-white path,
  .icon-white rect,
  .icon-white circle {
    @apply !stroke-white;
  }
  .icon-white-fill path {
    @apply fill-white;
  }

  .icon-black path,
  .icon-black rect {
    @apply stroke-black;
  }
  .icon-black-fill path {
    @apply fill-black;
  }

  .icon-gray path,
  .icon-gray rect {
    @apply stroke-gray;
  }
  .icon-gray circle {
    @apply !stroke-gray;
  }
  .icon-gray-fill path {
    @apply fill-gray;
  }

  .icon-primary path,
  .icon-primary rect {
    @apply stroke-primary;
  }
  .icon-primary-fill path {
    @apply fill-primary;
  }

  .icon-blue path,
  .icon-blue rect,
  .icon-blue circle  {
    @apply stroke-blue;
  }
  .icon-blue-fill path {
    @apply fill-blue;
  }


  .icon-error path,
  .icon-error rect {
    @apply stroke-error;
  }
  .icon-error-fill path {
    @apply fill-error;
  }

  .icon-warning path,
  .icon-warning rect {
    @apply !stroke-warning;
  }
  .icon-warning-fill path {
    @apply fill-warning;
  }

  .icon-sucess path,
  .icon-sucess rect {
    @apply stroke-sucess;
  }
  .icon-sucess-fill path {
    @apply fill-sucess;
  }
  
}



@layer utilities {
  /*Background Portofolio */

  .bg-sport{
    @apply bg-s-port bg-center bg-no-repeat bg-cover 
  }

  .bg-sport-plain{
    @apply bg-s-port-plain bg-center bg-no-repeat bg-cover 
  }

  /* Shadow Custome */
  .shadow-image-arise{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  
  /* Clip mask for image */
  .clip-path-hero-img{
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);

  }

  /* Background glassmorphism*/
  .bg-glassmorphism{
    @apply h-full w-full  bg-gray-900   bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-30;
  }

  /* Custome container class*/
  .container-page {
    @apply space-y-8 max-w-full overflow-x-auto;
  }

  /* Bounce effect */
  .bounce-effect {
    @apply transition-all duration-[50] hover:scale-[1.03] active:scale-[0.98] disabled:!scale-[1] disabled:cursor-not-allowed;
  }

  .bounce-effect-disabled {
    @apply transition-none hover:scale-100 active:scale-100;
  }

  .cursor-pointer-custome {
    @apply bounce-effect cursor-pointer;
  }

 

  /* Hide scrollbar */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }

  /* Gradient  color text*/

  .text-gd{
    background: #8B5CF6;
    background: radial-gradient(circle farthest-side at top left, #8B5CF6 0%, #4C1D95 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

   /* Float image */

 .image-animation-float {
    animation: float-image 3s ease-in-out infinite; /* Corrected timing function and added duration */
  }

  @keyframes float-image {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2.4rem);
    }
    100% {
      transform: translateY(0);
    }
  }
}


