@import url('./index.css');
@import url('react-datepicker/dist/react-datepicker.css');

.neomorphism {
  box-shadow: 0px 10px 15px -3px #0f172a12;
  box-shadow: 0px 4px 6px 0px #0f172a0d;
}

/* Remove background autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* Customize input number */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

/* Input Radio Button */
input[type='radio'] {
  @apply accent-primary;
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 0 1px #e2e8f0;
}

input[type='radio']:checked {
  box-shadow: 0 0 0 1px #357aea;
}

input[type='radio']:disabled {
  accent-color: #e2e8f0 !important;
  box-shadow: 0 0 0 1px #e2e8f0 !important;
}

/* Customize input date */
/* Remove border in the popper modal */
.react-datepicker-popper.react-datepicker-left {
  @apply !left-[-1rem];
}

.react-datepicker {
  @apply !overflow-hidden mx-auto flex flex-col !border-gray-200 rounded-[16px] shadow-md;
}

.react-datepicker__header {
  @apply bg-white !border-none;
}

.react-datepicker-wrapper {
  @apply overflow-hidden relative;
}

.react-datepicker__input-container {
  @apply border;
}
.react-datepicker__input-container,
.react-datepicker__view-calendar-icon {
  @apply flex relative border-none gap-2 p-0;
}

.react-datepicker__input-container input {
  @apply flex relative p-0 !outline-none w-full;
}
.react-datepicker-ignore-onclickoutside {
  @apply w-auto;
}

.react-datepicker-popper {
  @apply shadow-md !border-none;
}

.react-datepicker-left {
  @apply absolute left-0 right-auto top-11 transform-none !important;
}

.react-datepicker-right {
  @apply absolute right-0 left-auto top-11 transform-none  !important;
}

.react-datepicker__triangle,
.react-datepicker__triangle::before,
.react-datepicker__triangle::after {
  display: none;
}

.react-datepicker__portal {
  @apply absolute z-10 w-72 text-body-small transform-none bg-white shadow px-3 py-2 top-12 right-0 rounded;
}

.react-datepicker__month-container {
  @apply flex flex-col !border-none rounded-[16px] mx-auto min-w-[16rem];
}
.react-datepicker__month-text {
  @apply bg-transparent w-full p-2;
}
.react-datepicker__year-text {
  @apply p-2;
}

.react-datepicker__year-text--keyboard-selected,
.react-datepicker__month-text--keyboard-selected {
  @apply bg-transparent hover:bg-gray-100;
}

.react-datepicker__year-text--selected.react-datepicker__year-text--keyboard-selected,
.react-datepicker__month-text--selected.react-datepicker__month-text--keyboard-selected {
  @apply !bg-primary z-[10] hover:!bg-primary-400 !text-white;
}

.react-datepicker__year-text--in-range {
  @apply !bg-primary z-[10] hover:!bg-primary-400 !text-white;
}

.react-datepicker__month {
  @apply flex flex-col !border-none;
}

.react-datepicker__current-month {
  @apply ml-2 text-body-large font-semibold text-gray-800;
}

.react-datepicker__year--container {
  @apply w-[16rem];
}
.react-datepicker__year {
  @apply flex items-start justify-center max-h-[10rem] overflow-y-auto scrollbar-hidden;
}
.react-datepicker__year-wrapper {
  @apply grid grid-cols-2;
}

.react-datepicker__week {
  @apply flex justify-around;
}

.react-datepicker__day-names {
  @apply flex justify-around  font-medium text-center text-body-base;
}

.react-datepicker__day-name {
  @apply w-8 h-8 text-gray flex items-center justify-center py-1 rounded-full;
}

.react-datepicker__navigation {
  @apply absolute top-2;
}

.react-datepicker__navigation--previous {
  @apply right-12 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200;
}

.react-datepicker__navigation--next {
  @apply right-4 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200;
}

.react-datepicker__day {
  @apply hover:!bg-gray-200 mb-1 w-8 h-8 flex items-center justify-center py-1 text-body-small leading-loose transition text-gray-700 rounded;
}

.react-datepicker__day--disabled {
  @apply cursor-not-allowed opacity-40 hover:bg-transparent;
}

.react-datepicker__day--outside-month {
  @apply text-gray-300;
}

.react-datepicker__day--in-range {
  @apply bg-primary-100 hover:bg-gray-200;
}

.react-datepicker__day--keyboard-selected.react-datepicker__day--in-range {
  @apply bg-primary-100 hover:bg-gray-200;
}

.react-datepicker__day--in-selecting-range {
  @apply bg-primary-50 text-white;
}

.react-datepicker__day--selecting-range-start {
  @apply bg-white border-2 border-primary-500;
}

.react-datepicker__day--selecting-range-end {
  @apply bg-white border-2 border-primary-500;
}

.react-datepicker__day--selected {
  @apply bg-primary-500 text-white hover:!bg-primary-600;
}

.react-datepicker__day--today {
  @apply hover:bg-gray-100;
}

.react-datepicker__day--range-start {
  @apply bg-primary-500 !text-white hover:text-gray-700 hover:bg-white;
}

.react-datepicker__day--range-end {
  @apply bg-primary-500 text-white hover:text-gray-700 hover:bg-white;
}
.react-datepicker__day--keyboard-selected {
  @apply bg-transparent;
}

.react-datepicker__close-icon {
  @apply flex items-center justify-center;
}
.react-datepicker__close-icon::after {
  background-color: transparent;
  content: '';
  background-image: url('../icons/close.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.react-datepicker-wrapper input[readonly] {
  cursor: pointer;
}
